.Loginpage{
    color: white;

    width: 200px;
    text-align: center;
    font-size: 30px;
    max-width: 200px;
    padding: 5px;
    margin-left: 50px;
    height: 100%;
}
.Text{
    
    color: white;
    text-align: center;

}