.Logo{


    padding: 8px;
    height: 80;
    box-sizing: border-box;
    border-radius: 5px;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
    position: relative;
    size: fixed;
    color: whitesmoke;
}

.Logo img{
    height: 58px;
    margin-bottom: 10px;
    align-items: center;
    position: relative;
    top: 10px;
    left: 15px;
    bottom: 10px;
    size: fixed;
}

@media(max-width:880px){
    .DesktopOnly{
        display: none;
    }
}