.NavigationItem{
    margin: 0px 0;
    box-sizing: border-box;
    display: block;
    width: 150px;
    margin-top: 15pxpx;
    position: relative;
  

}
.NavigationItem a{
    color:lemonchiffon;
    text-decoration: none;
    width: 150px;
    height: 55px;
    box-sizing: border-box;
    display: block;
    position: relative;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active{
    height: 80px;
    width: 140px;
    padding: 16px 10px;
    /* background-image: url('../../../../assets/backgrnd3.jpg');
    border-bottom: 10px solid red; */
    color: whitesmoke;
    position: relative;

}
@media(min-width:880px){

    .NavigationItem{
        margin-top: 0px;
        margin: 0px;
        box-sizing: border-box;
        display: flex;
        width: 150px;
        height: 100%;
        right: 35px;
        width: auto;
        position: relative;
    }
    .NavigationItem a{
        color:lemonchiffon;
        text-decoration: none;
        height: 100%;
        width: auto;
       padding: 16px 10px;
        /* border-bottom: 4px solid transparent;*/
        box-sizing: border-box; 
        display: block;
        position: relative;
    }
    a {
        color: #FFF;
      }
      a:hover {
         color: #00F
      }
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active{
        height: 100px;
        padding: 16px 10px;
       
        width: auto;
        /* background-image: url('../../../../assets/backgrnd3.jpg'); */
        border-bottom: 10px solid red;
        color: whitesmoke;
        position: relative;
        text-align: center;
        font-size: 50px;
        text-decoration: none;

    }
}